/* Estilo base para el cuerpo del documento */
body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Estilos para la cabecera */
  header {
    width: 100%;
    height: 60px;
  }
  
  /* Uso de Flexbox para la navegación */
  header nav {
    display: flex;
    justify-content: flex-end;
  }
  
  /* Sección derecha de la navegación con Flexbox */
  header nav .nav-right-section {
    width: 250px;
    display: flex;
    list-style: none; /* Elimina los puntos de la lista */
    justify-content: flex-end;
  }
  
  /* Estilos para los enlaces de la sección derecha */
  nav .nav-right-section a {
    margin-right: 10px;
    color: black;
  }
  
  /* Estilo global para todos los enlaces */
  a {
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Ícono del menú con imagen de fondo */
  nav .nav-right-section .menu-icon {
    background-image: url("https://static.thenounproject.com/png/756729-200.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
  }
  
  /* Imagen redondeada en la sección de navegación */
  nav .nav-right-section img {
    border-radius: 50%;
    margin-left: 10px;
  }
  
  /* Estilos para el contenido principal */
  main {
    margin-top: 150px;
    text-align: center;
  }
  
  /* Logo principal en el contenido */
  main .main-logo {
    width: 500px;
    margin: auto;
    margin-bottom: 35px;
  }
  
  /* Estilos para la imagen del logo */
  main .main-logo img {
    height: 92px;
    width: 272px;
  }
  
  /* Contenedor principal de entrada */
  main .main-input {
    width: 530px;
    margin: auto;
    margin-bottom: 35px;
  }
  
  /* Contenedor de la entrada con bordes redondeados */
  main .main-input-container {
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilo de la entrada de búsqueda */
  main .main-input input {
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
  }
  
  /* Ícono de búsqueda con imagen de fondo */
  main .main-input .search-icon {
    background-image: 
    url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
  }
  
  /* Ícono del micrófono con imagen de fondo */
  main .main-input .micro-icon {
    background-image: 
    url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
  }
  
  /* Estilos para los botones principales */
  main .main-buttons {
    width: 530px;
    margin: 0 auto;
  }
  
  /* Contenedor de botones con display inline-block */
  main .main-buttons div {
    display: inline-block;
  }
  
  /* Estilos para los botones */
  main .main-buttons button {
    height: 36px;
    background-color: #f2f2f2;
    border: 0;
    font-size: 14px;
    color: #5f6368;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 15px;
  }
  
  /* Efecto hover para los botones */
  main .main-buttons button:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #222;
  }
  